:root {
	--svelte-orange: #ff3e01;
	--threejs-black: #444444;
	--canvas-overlay: #00000088;
	--canvas-overlay-hover: #00000055;
	--accent: #007d7d;
}

* {
	box-sizing: border-box;
}

html,
body,
#svelte-body {
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Overpass', Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background-color: #fafbfc;
}